<table class="table table-bordered" style="color: white;">

    <thead>

        <tr>

            <th colspan="3" class="text-center">

                Shopping cart

            </th>

        </tr>

        <tr>

            <th>Products</th>
            <th>Amount</th>
            <th>Summary</th>

        </tr>

    </thead>

    <tbody>

        {% if request.session.cart.items %}

            {% for key, value in request.session.cart.items %}

                <tr class="text-center">

                    <td>{{value.name}}</td>
                    <td>{{value.amount}}</td>
                    <td>

                        <a href="{% url 'cart:Add' value.product_id %}" class="btn btn-sm btn-success">+</a>
                        <a href="{% url 'cart:Subtract' value.product_id %}" class="btn btn-sm btn-success">-</a><br>
                        
                        {{value.price}} $ARS

                    </td>

                </tr>

            {% endfor %}

        {% else %}

            <tr>

                <td colspan="3">

                    <div class="alert alert-danger text-center">

                        Without products

                    </div>

                </td>

            </tr>

        {% endif%}

    </tbody>

    <tfoot>

        <tr>

            <td colspan="3">

                Total: {{import_total_cart}}

            </td>

        </tr>

    </tfoot>

</table>