{% extends "myweb/base.html" %}

{% load static %}

{% block content %}

<div class="contentForm">

    {% if "valid" in request.GET %}

        <p style="color: snow;">The information was sent correctly, thanks!</p>

    {% endif %}
    
    <form action="" method="POST" style="text-align: center;">

        {% csrf_token %}
        <table style="color: white; margin: 20px auto;">{{myForm.as_table}}</table>
        <input type="submit" value="Send" style="width: 150px;">

    </form>

</div>

{% endblock %}